/* Styles.css */

body {

    display: block;
    font-family: 'Times New Roman', Times, serif;
}

h1 {

    text-align: center;
    padding: 12px;
    background-color: aqua;
    color: brown;
    margin: 50px 500px;
    border: solid;
    border-color: brown;
}

h2 {

    padding: 6px;
    border: solid;
    border-color: red;
    background-color: yellow;
    text-align: center;


}

h3 {

    padding: 8px;
    background-color: brown;
    color: aqua;
    margin-right: 1600px;
    border: solid;
    border-color: aqua;
}

.donut-home {

    padding: 5px;
    background-color: rgb(153, 150, 1);
    color: white;
    border: solid;
    border-color: black;
}

